<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category Products</title>
    <link rel="stylesheet" th:href="@{/css/categoryList.css}">
    <script th:src="@{/js/detail.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<form th:object="${list}">
<!-- 카테고리 제목 표시 -->
    <h1 class="category-title" th:if="${parentName} == null" th:text="${list[0].category.categoryName}">Category Name</h1>
    <h1 class="category-title" th:if="${parentName} != null" th:text="${parentName}">Category Name</h1>


    <!-- 카테고리 상품 리스트 -->
    <div class="product-list">
        <div th:each="product : ${list}" class="product-card">
            <!-- 이미지 -->
            <div class="product-image">
                <img src="https://placehold.co/100x100" alt="Product Image">
            </div>
            <a class="icon" id="heart" th:onclick="toggleWishlist([[${product.productId}]])">
                <i th:attr="class=${#lists.contains(idList,product.productId) && !#lists.isEmpty(idList) ? 'fas fa-heart filled' : 'far fa-heart'}"></i>
            </a>
            <!-- 상세 정보 -->
            <div class="product-info">
                <h3 class="product-name"><a th:text="${product.name}" th:href="@{'/product/detail/' + ${product.productId}}"></a></h3>
                <span th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + '원'">$29.99</span>
            </div>
        </div>
    </div>
</form>
</body>
</html>
