<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>주문하기</title>
    <link rel="stylesheet" href="/css/order-register.css">
    <script src="https://js.tosspayments.com/v1"></script>
    <script th:src="@{/js/order-register.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="order-container">
    <h1>주문하기</h1>

    <!-- 주문자 정보 -->
    <section class="order-info">
        <h2>배송 정보</h2>
        <input type="hidden" id="key" th:value="${key}">
        <input type="hidden" id="clientKey" th:value="${clientKey}">
        <form th:object="${order}">
            <label for="customerName">받는 분</label>
            <input type="text" th:field="*{customerName}">

            <label for="zipcode">우편번호</label>
            <input type="text"  th:field="*{address.zipCode}">

            <label for="address">주소</label>
            <input type="text"  th:field="*{address.address}">
            <input type="text"  th:field="*{address.addressDetail}">

            <label for="customerPhone">핸드폰 번호</label>
            <input type="text"  th:field="*{customerPhone}">

            <label for="customerEmail">이메일</label>
            <input type="text"  th:field="*{customerEmail}">
        </form>
    </section>

    <!-- 결제 수단 -->
    <!--<section class="payment-method">
        <h2>결제 수단</h2>
        <div th:each="method: ${method}">
            <input type="radio" name="method" th:value="*{method.value}" th:text="*{method.description}">
        </div>
    </section>-->

    <!-- 주문 상품 -->
    <section class="order-items">
        <h2>주문 상품</h2>
        <table>
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th>상품명</th>
                <th>가격</th>
                <th>수량</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${orderList}">
                <td><input type="checkbox" name="index" th:checked="true"></td>
                <td><img alt="상품 이미지"></td>
                <td th:text="${item.productName}"></td>
                <td th:text="${item.productPrice} + '원'"></td>
                <td th:text="${item.amount}"></td>
            </tr>
            </tbody>
        </table>
    </section>

    <!-- 총 가격 -->
    <div class="total-price">
        총 금액: <span id="totalPrice" th:text="${totalPrice} + '원'"></span>
    </div>

    <!-- 결제 버튼 -->
    <div class="submit-button">
        <button type="button" th:onclick="pay()">결제하기</button>
    </div>
</div>
</body>
</html>
