<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>아이디 찾기</title>
    <link rel="stylesheet" th:href="@{../css/find_id.css}">
    <script th:src="@{../js/find_userinfo.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="container">
    <h1>아이디 찾기</h1>
    <form id="findIdForm" th:object="${findUserInfo}">
        <div class="form-group">
            <label for="userName">이름</label>
            <input type="text" th:field="*{userName}">
        </div>
        <div class="field-error" id="userNameError"></div>
        <div class="form-group">
            <label for="phone">전화번호</label>
            <input type="tel" th:field="*{phone}">
        </div>
        <div class="field-error" id="phoneError"></div>
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="email"th:field="*{email}">
        </div>
        <button type="button" th:onclick="findId()">아이디 찾기</button>
    </form>
</div>
</body>
</html>
