<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{../css/login.css}">
    <script src="@{../js/login.js}"></script>

</head>
<body>
<div class="login-container">
    <h2>로그인</h2>
    <form th:action="@{/user/login}" method="POST" th:object="${loginDto}">
        <div class="input-group">
            <label for="loginId">아이디</label>
            <input type="text" id="loginId" th:field="*{loginId}" th:errorclass="field-error">
            <div class="field-error" th:errors="*{loginId}"></div>
        </div>
        <div class="input-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}">
            <div class="field-error" th:errors="*{password}"></div>
        </div>
        <button type="submit" class="login-btn" id="loginBtn">로그인</button>
    </form>
    <div class="links">
        <a th:href="@{/find-id}">아이디 찾기</a>
        <a th:href="@{/find-password}">비밀번호 찾기</a>
        <a th:href="@{/signup}">회원가입</a>
    </div>
</div>
</body>
</html>
