<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Type Selection</title>
    <link rel="stylesheet" th:href="@{../css/selectRole.css}">
</head>
<body>
<div class="container">
    <h1>회원가입 유형 선택</h1>
    <p>가입할 유형을 선택하세요</p>
    <div class="user-selection">
        <div class="user-type" th:onclick="|window.location.href='@{/user/signup(role=NORMAL)}'|">
            <i class="fas fa-user"></i>
            <h2>일반 사용자</h2>
            <p>개인 쇼핑 및 계정 생성</p>
        </div>
        <div class="user-type" th:onclick="|window.location.href='@{/user/signup(role=SELLER)}'|">
            <i class="fas fa-store"></i>
            <h2>판매자</h2>
            <p>제품 판매 및 상점 관리</p>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</body>
</html>
