<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{../css/signup.css}">
    <script th:src="@{../js/signup.js}"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="signup-container">
    <h2>회원가입</h2>
    <form method="POST" th:object="${persistUserDto}">
        <!-- 아이디 입력 및 중복 확인 -->
        <input type="hidden" th:field="*{role}">
        <div class="input-group">
            <label for="userid">아이디</label>
            <input type="text" id="userid" th:field="*{userid}">
            <button type="button" class="check-btn" th:onclick="isExistId()">중복 확인</button>
        </div>
        <!-- 비밀번호 -->
        <div class="input-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" th:field="*{password}">
        </div>
        <div class="field-error" id="passwordError"></div>

        <!-- 이름 -->
        <div class="input-group">
            <label for="userName">이름</label>
            <input type="text"  th:field="*{userName}">
        </div>
        <div class="field-error" id="userNameError"></div>

        <!-- 닉네임 입력 및 중복 확인 -->
        <div class="input-group">
            <label for="nickName">닉네임</label>
            <input type="text" id="nickName" th:field="*{nickName}">
            <button type="button" class="check-btn" th:onclick="isExistNickName()">중복 확인</button>
        </div>

        <!-- 전화번호 -->
        <div class="input-group">
            <label for="phone">전화번호</label>
            <input type="tel" id="phone" th:field="*{phone}">
        </div>
        <div class="field-error" id="phoneError"></div>

        <!-- 이메일 -->
        <div class="input-group">
            <label for="email">이메일</label>
            <input type="email" id="email" th:field="*{email}">
        </div>

        <!-- 주소 -->
        <div class="input-group">
            <label for="address">주소</label>
            <input type="text" id="address" th:field="*{address1}">
            <button type="button" class="check-btn" onclick="searchAddress()">주소 검색</button>
        </div>
        <div class="field-error" id="addressError"></div>

        <!-- 상세 주소 -->
        <div class="input-group">
            <label for="address2">상세 주소</label>
            <input type="text" th:field="*{address2}">
        </div>

        <!-- 회원가입 버튼 -->
        <div class="button-container">
            <button type="button" class="submit-btn" th:onclick="save()">Sign Up</button>
        </div>
    </form>
</div>
</body>
</html>
