<header xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{../css/header.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <div class="navbar">
        <a th:href="@{/}" class="logo">STORE</a>
        <nav>
            <ul class="menu">
                <li>
                    <a th:href="@{/}">Home</a>
                </li>
                <li>
                    <a th:href="@{/product}">Products</a>
                    <ul class="dropdown">
                        <li><a th:href="@{/product}">Category 1</a></li>
                        <li><a th:href="@{/product}">Category 2</a></li>
                    </ul>
                </li>
                <li>
                    <a>About</a>
                    <ul class="dropdown">
                        <li><a th:href="@{/product}">Our Story</a></li>
                        <li><a th:href="@{/product}">Team</a></li>
                    </ul>
                </li>
                <li>
                    <a>Contact</a>
                    <ul class="dropdown">
                        <li><a th:href="@{/product}">Support</a></li>
                        <li><a th:href="@{/product}">FAQs</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <div class="user-menu">
            <span th:if="${session.loginUser != null}" th:text="${session.loginUser.nickName} + '님'"></span>
            <a th:href="@{/user/myPage}" class="icon" title="My Page">
                <i class="fas fa-user"></i> <!-- 사용자 아이콘 -->
            </a>
            <a th:href="@{/zzim}" class="icon" title="Wishlist">
                <i class="fas fa-heart"></i>
            </a>
            <a th:href="@{/cart}" class="icon" title="Cart">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <a th:if="${session.loginUser == null}" th:href="@{/user/login}" class="login">Login</a>
            <a th:if="${session.loginUser != null}" th:href="@{/user/logout}" class="login">Logout</a>
            <a th:href="@{/user/selectRole}" class="login">Sign Up</a>
        </div>
    </div>
</header>
