/* 전체적인 상단바 스타일 */
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    color: white; /* 로고 색상 설정 */
    text-decoration: none; /* 링크의 밑줄 제거 */
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

nav ul li:hover .dropdown {
    display: block;
}

/* 드롭다운 메뉴 스타일 */
nav ul li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #34495e;
    padding: 10px 0;
    border-radius: 5px;
}

nav ul li .dropdown li {
    margin: 0;
    padding: 0;
}

nav ul li .dropdown li a {
    padding: 10px 20px;
    display: block;
}

nav ul li .dropdown li a:hover {
    background-color: #3d566e;
}

.user-menu {
    display: flex;
    align-items: center;
}

.user-menu a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: center;
}

.user-menu a.login {
    background-color: #007bff;
    border-radius: 5px;
    padding: 10px 20px;
}

.user-menu a.login:hover {
    background-color: #0056b3;
}

.user-menu .icon img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.user-menu a:hover {
    color: #f1f1f1;
}