body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    color: #777;
    margin-bottom: 30px;
}

.user-selection {
    display: flex;
    justify-content: space-between;
}

.user-type {
    width: 45%;
    padding: 20px;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-right: 10px; /* 버튼 간 간격 */
}

.user-type:last-child {
    margin-right: 0; /* 마지막 버튼의 오른쪽 여백 제거 */
}

.user-type:hover {
    background-color: #0056b3;
}

.user-type i {
    font-size: 3em;
    margin-bottom: 10px;
}

.user-type h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.user-type p {
    font-size: 0.9em;
    color: #d1d1d1;
}
